@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply mx-auto min-h-screen w-full max-w-7xl font-poppins;
  }
}

.opacity-scroll {
  @apply opacity-0 transition-all duration-700 ease-in-out;
}

.visible-scroll {
  @apply opacity-100 transition-all duration-700 ease-in-out;
}

/* Personalizar barra de scroll */

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
  margin: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #fb923c;
  border-radius: 8px;
}
.scrollbar-thumb {
  background: #fb923c;
  border-radius: 8px;
}
